<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>793671473410-q9fkr3a8ca1gh6o9crc54jji3cm6jt6r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.793671473410-q9fkr3a8ca1gh6o9crc54jji3cm6jt6r</string>
	<key>API_KEY</key>
	<string>AIzaSyDRNIsvJa1ZWtZWC4t8CRlI6RhSpSSsh8I</string>
	<key>GCM_SENDER_ID</key>
	<string>793671473410</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.whatsappFlutter</string>
	<key>PROJECT_ID</key>
	<string>whatsapp-backend-7e46e</string>
	<key>STORAGE_BUCKET</key>
	<string>whatsapp-backend-7e46e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:793671473410:ios:55e70bda9624721956ca1b</string>
</dict>
</plist>